.sortSelector {
    display: block;
    border: solid 1px #222;
    border-radius: 5px;
    box-sizing: border-box;
    height: 50px;
    width: 150px;
    outline: none;
    padding: 10px;
    margin: 20px;
}

@media (max-width: 480px) {
    .selector {
        display: block;
        border: solid 1px #222;
        border-radius: 5px;
        box-sizing: border-box;
        height: 50px;
        width: 100px;
        outline: none;
        padding: 10px;
        margin: 20px 0 0 0 !important;
    }
    .sortSelector {
        display: block;
        border: solid 1px #222;
        border-radius: 5px;
        box-sizing: border-box;
        height: 50px;
        width: 100px;
        outline: none;
        padding: 10px;
        margin: 20px 0 0 0 !important;
    }
}