.dog {
    border-radius: 25%;
    display: block;
    height: 50%;
    margin: 0px auto;
    width: 50%;
}

.homeButton {
    background-color: rgb(70, 151, 151);
    border-color: rgb(173, 5, 5);
    border-radius: 25%;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    height: 100px;
    opacity: 0.9;
    text-align: center;
    width: 200px;
}

.link {
    color: white;
    display: block;
    padding-top: 25px;
    text-align: center;
    text-decoration: none;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1110px;
    margin: 0 auto;
    padding: 34px 30px;
}

.title {
    color: rgb(70, 151, 151);
    font-size: 50px;
    font-weight: bold;
}