.container {
    background-color: azure;
    border: 5px solid rgb(70, 151, 151);
    border-radius: 20px;
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap;
    margin-left: 40px;
    margin-top: 20px;
    width: 240px;
}

.div_info {
    flex-direction: column; 
    font-family: 'Dancing Script', cursive;
    height: 250px;
    padding: 10px;
}

.image {
    border-radius: 15px;
    height: 160px;
    overflow: hidden;
    width: 240px;
}

.linkStyle {
    border-radius: 10px;
    color: rgb(155, 70, 70);
    display: inline-block;
    font-size: 18px;
    height: 320px;
    margin-left: 40px;
    margin-bottom: 100px;
    margin-top: 30px;
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
    width: 240px;
}

.name {
    font-size: 20px;
    font-weight: bold;
}

.temperaments {
    font-size: 17px;
}

.weight {
    font-weight: bold;
}