.selector {
    display: block;
    border: solid 1px #222;
    border-radius: 5px;
    box-sizing: border-box;
    height: 50px;
    width: 150px;
    outline: none;
    padding: 10px;
    margin: 20px;
}